@import '../../../../assets/styes/base';

.header {
    background-color: #2c2b2b;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 101;
    height: 90px;
    text-align: center;
    color: #fff;

    h2 {
        padding-top: 15px;
        margin: 0;
    }

    .header-content {
        margin: 0 auto;
    }
}
